<!-- WRAP DA TABELA -->
<div class="wrap-tabela">
  <table>
    <tr>
      <th class="rounded-left">Nome</th>
      <th>E-mail</th>
      <th>Idade</th>
      <th class="rounded-right"></th>
    </tr>
    <tr *ngFor="let user of users | async; let i = index">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.age }}</td>
      <td class="flex align-center">
        <i class="material-icons pointer btn-edit" (click)="editForm(user, i)">edit</i>
        <i class="material-icons pointer btn-delete" (click)="deleteUser(i)">delete</i>
      </td>
    </tr>
  </table>
</div>

<!-- BOTAO NOVO USUARIO -->
<div *ngIf="!userForm.value.showForm" class="align-center mb10 form">
  <button (click)="showForm()" class="btn btn-cria">Novo Usuário</button>
</div>

<!-- FORMULARIO DE CADASTRO -->
<form class="centered-content" *ngIf="userForm.value.showForm" [formGroup]="userForm">
  <input type="text" placeholder="Nome" formControlName="name">
  <input type="email" placeholder="E-mail" formControlName="email">
  <input type="number" placeholder="Idade" formControlName="age">

  <div id="f-button">
    <button class="mr10 btn btn-option" type="submit" (click)="!userForm.value.editId ? addUser() : updateUser()" [disabled]="userForm.invalid">{{
      userForm.value.editId ? 'Editar' : 'Criar' }}</button>
    <button (click)="userForm.reset()" class="btn btn-cancela">Cancelar</button>
  </div>
</form>